/*
 * Import nib
 */
@import 'nib'


/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

html,body
  height 100%
  width 100%

#mapa
  margin 0
  padding 0
  width 100%
  height 100%

#controls
  background-color white
  bottom 0
  left 50%
  margin-left -155px
  position absolute
  width 310px

#controls 
  ul
    list-style none
    padding 5px
    margin-bottomH 5px 
    width 100%

#controls 
  ul 
    li
      border 1px solid #ccc
      display inline-block
      height 32px
      width 32.4%
